html { 
  font-family: Arial;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(21, 155, 192);
  background-color: #FFF;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(0,0,0,0.5);
  background-color: rgb(255, 255, 255);
}
img {
  width: 500px;
  align-self: center;
  padding: 20px;
}
body p { 
  text-align: justify;
}

p {
  font-size: 20px;
  display: block;
  margin: 0px auto;
}