html { 
  font-family: Arial;
}
h1 {
  font-size: 60px;
  color: rgb(21, 155, 192);
  background-color: black;
}
h2 {
  font-size: 40px;
  color: rgb(0,0,0,0.5);
  background-color: rgb(21, 155, 192);
}
img {
  width: 500px;
  align-self: center;
  padding: 20px;
}
body p { 
  text-align: justify;
}